<% if timestamp_message_needed?(message) %>
  <tr class="timestamp">
    <th></th>
    <td><%= message.created_at.strftime("%H:%M") %></td>
  </tr>
<% end %>
<tr class="message" data-message-id="<%= message.id %>">
  <th><%= format_full_name(message.author) if authors_name_needed?(message) %></th>
  <td><%= format_message message %></td>
</tr>
<% @last_message = message %>