<h2><%= @title = @room.label %></h2>

<div id="room">
  <div class="messages column">
    <table id="messages">
      <tbody>
        <%= render @messages %>
      </tbody>
    </table>
  </div>
</div>