<meta charset="UTF-8">
<title><%=h [@title, 'PaperCups'].compact.join(' · ') %></title>
<%= stylesheet_link_tag %w(reset default syntaxhighlighter_2.1.364/shCore syntaxhighlighter_2.1.364/shThemeRDark), :media => 'all', :cache => 'application' %>